// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// override bootstrap fonts file path
$icon-font-path: "/fonts/bootstrap/";

// Bootstrap changed to reference project root
// up 3 levels to project root

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	padding-top: 65px;
	background-color: white;
}

.circ{
	width : 40px;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff;
	margin-top: 5px;
}

.circ:hover{
	box-shadow: 0 0 0 3px #f00;
}	


.carousel-inner img {
	margin: auto;
}